@model WebAPI.Models.Contor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumarSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumarSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValoareActuala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValoareActuala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumator.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ContorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
