@model IEnumerable<WebAPI.Models.Tarif>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PretPeMetruCub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInceput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSfarsit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PretPeMetruCub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInceput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSfarsit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TarifId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TarifId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TarifId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
